:root {
  background-color: #16161a;
  color: hsl(0, 0%, 100%);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-box{
  height: 800px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box {
  padding-inline: 10em;
}

.title {
  font-size: 5em;
  max-width: max-content;
  margin-block-end: 0.25em;
}

.text {
  opacity: 0.5;
  line-height: 2.25;
}